
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   

   background-color: skyblue;
   color: white;
   text-align: center;
	border-color:#FF0000;
    box-shadow:0 0 42px 0 #FF0000;

}
