input[type="text"],
select,
textarea {
  background: url(bgt.jpg) center center no-repeat;
  resize: none;
  color:#39ff14 ;
  border-radius: 4px;
  border-color:#0900ff;
    box-shadow:0 0 8px 0 #0900ff;
 
   
}

